body {
    background-image:  url(https://1.bp.blogspot.com/-4DKdMiYfDC0/WFz92jcy6hI/AAAAAAAAYLg/VbfuIC4t4p8KWRsjLQr1qosAYX_oSCW3ACLcB/s320/Gifs%2Banimados%2BRaposa%2Bde%2B9%2BCaudas%2B1.gif);
    background-size: 450px;
    height: 100vh;
     font-family: arial;
  }
  
  a {
    color: black;
    text-decoration: none;
  }
  a:houver {
    text-decoration: underline;
  }
  
  .menu li {
    list-style: none;
    font-family: arial;
    background-color: white;}
   
  
  .menu ul {
    display: flex;
    justify-content: space-between;
    justify-content: space-around;
  }
  
  .site-tittle {
    text-align: center;
  }
  
  .site-subtitle {
     text-align: center;
  }  